html{
	width:100%;
	background-color:#DAECF7;
	font-family:Roboto, sans-serif;
	font-weight:700;
}
.body90{
	width:90%;
	margin:auto;
}
header {
	background-image: url("fmi-brand-element.png");
   
    height:10em;
	
	width: 100%;
	/*border: 1px solid black;*/
	text-align: center;

}

.headertop{
	display: table;
	height:50%;
	width:100%;
}

.logo{
	display: table-cell;
	vertical-align: middle;
	/*border: 1px solid black;*/
}

.kuva{
	float:left;	
}

.navbartoptop{
	
	color: #23527C;
	width:50%;
	/*border: 1px solid black;*/
	display: table-cell;
	vertical-align: middle;
}




.navbartoptop li{
	color: white;
	display: inline;
	padding-left:1em;
	padding-right:1em;
}

.navbartoptop a{
	text-decoration:none;
	font-size:12px;
	color: #2486ce;
}
.navbartop{
	font-size:13px;
}
.navbartop ul{
	width:100%;
	float:left;
	height:3em;
	background:#126CC5;
	list-style-type:none;
	padding:0;
	margin:0;
	
}

.likoti{
	width:6%;
	background-image: url("kotiikoni.png");
	background-position:center;
	background-repeat: no-repeat;

}

.navbartop li{
	
	display:inline;
	float:left;
	height:100%;
	
}

.navbartop a{
	color:white;
	text-decoration:none;
	display:block;
	border-left:1px white solid;
	height:100%;
	line-height:3em;
	float:left;
	padding-left:1em;/*responsive fonts??*/
	padding-right:1em;
	font-weight:400;
}
/*
.navkoti{
	
	float:left;
	width:4%;
	height:3em;
	background-image: url("kotiikoni.png");
	background-position:center;
	background-repeat: no-repeat;
	background-size: 100%;
}

#koti{
	background-position:center;
	display: block;
	width:100%;
	height:100%;
	background-image: url("kotiikoni.png");
}
*/
.hakutop{
  
  display: table-cell;
  vertical-align: middle;
  /*border: 1px solid black; */
  
}

.hakuright{
	float:right;
}

.ylahakunappi{
	color:white;
	background-color:#439FDB;
	border:none;
	height:2em;
}


.hakupalkki{
	font-size:13px;
	
	width: 100%;
	height: 3.4em;
}

.leftlefthakupalkki{
	float:left;
	width:6%;
	height:100%;
	/*background-color: #4d9900;*/
	background-image: url("vihreapilvi.png");
	background-position:center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.lefthakupalkki h1{
	font-weight:400;
	margin: 0;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	color: white;
	padding-left:0.5em;
	font-size:13px;
}

.lefthakupalkki{
	float:left;
	width:18%;
	min-width: 7em;
	height:100%;
	background-color:#3BA12F;
	position: relative 
	
}

.centerhakupalkki{
	float:left;
	width:69%;
	height:100%;
}

#isoinput{
	
	width:100%;
	height:100%;
	border:none;
}

.righthakupalkki{
	float:left;
	width:7%;
	height:100%;
	background-image: url("hakukuva.png");
	background-position:center;
}

#merkkihaku{
	display: block;
	width:100%;
	height:100%;
	
}

.content{
	display:block;
}

.navbarleftmob{
	display:none;
}

.navbarleft{
	box-sizing: border-box;
	display:block;
	font-size:13px;
	font-weight:400;
	border-left: 0px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	float:left;
	width:24%;
	/*width: -moz-calc(24% - 1px);
    width: -webkit-calc(24% - 1px);
    width: calc(24% - 1px);*/
}

.ulko, .sisa{

	float:left;
	list-style-type:none;
	padding:0;
	margin:0;
}




.ulko li,.sisa li{
	width:100%;
	float:left;	
	
}

.ulko a,.sisa a{
	text-decoration:none;
	display:block;	
	float:left;
	height:3.4em;
	line-height:3.4em;
	color:black;
	
	/*position: relative */
}

.ulko a{
	width:95%;
	padding-left:5%;
	background:white;
}

.sisa a{
	width:90%;
	padding-left:10%;
	background:#F8F8F8;
}

/*
.ulko p, .sisa p{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/



#saaitem{
	background:#53B9E6;
	color:white;

}

#paikallisitem{
	background:#0076D7;
	color:white;
}

.content{
	margin-top:1em;
}

.main{
	margin:0;
	float:left;
	width:76%;
	background:white;
}

.main h1{
	padding-left:3%;
	font-size:20px;
	font-weight:700;
}
.taulukko{
	width:94%;
	border-spacing:0;
	border-collapse: collapse;
	text-align:center;
	margin-left:3%;
	margin-right:3%;
	font-size:12px;
}


/*
td	{
    border-right: 1px solid #ddd;
}
*/
.reuna{
	border-right: 1px solid #D3D3D3;
	border-spacing:0;
	border-collapse: collapse;
	box-sizing:border-box;
}


.paivat td{
	text-align:left;
	padding-left:0.7em;
}



.saakuva{
	width:100%;
}

.luoteis{
	background-image: url("luoteis.svg");
	background-size: 100%;
}

.tuulet td{
	height:4em;	/*ei ehkä hyvä*/
	width:5.55%;
	font-size:11px;
}

.luoteis{
	background-image: url("luoteis.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}

.pohjois{
	background-image: url("pohjois.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}

.kaikki{
	background-image: url("kaikkituulet.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}

.etela{
	background-image: url("etela.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}
.lounais{
	background-image: url("lounas.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}

.kaakkois{
	background-image: url("kaakkois.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}

.lansi{
	background-image: url("lansi.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
}

.vaalea{
	background:#F2F2F2;
}

.tumma{
	background:#E4E4E4;
}

.taulukko2{
	width:94%;
	border-spacing:0;
	border-collapse: collapse;
	text-align:center;
	margin-left:3%;
	margin-right:3%;
	font-size:11px;
}



.tuntuu td{
	width:5.5%;
	background-image: url("tuntuukuin.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
	height:3em;


}

.tuntuu td p{
	padding-top:40%;
	
}


.temp{
	color:#FF0700;
	font-size:14px;
}

.main h2{
	padding-left:3%;
	font-size:13px;
}

.taulukko3{
	border-top: 1px solid #D3D3D3;
	width:94%;
	border-spacing:0;
	border-collapse: collapse;
	text-align:center;
	margin-left:3%;
	margin-right:3%;
	font-size:10px;
}

.pohjaborderpad{
	border-bottom: 1px solid #D3D3D3;
}

.pohjaborderpad td{
	padding-top:1em;
	padding-bottom:1em;
}

.pohjaborder{
	border-bottom: 1px solid #D3D3D3;
}

.pohjaborder td{
	padding-bottom:1em;
}

.sadepalkit{
	height:35px;
	width:100%;
}

.sadepalkit td{
	margin:0;
	padding:0;
	height:100%;
	width:5.5%;
	vertical-align:bottom;
   
	
	text-align: center;

}

.bar{
	margin: 5px auto 0;
    width: 60%;
	background:#95C3E9;
	
}

#eka{
	height:10%;
}

.sademaaratext td{
	font-size:11px;
	padding:0.5em;
}

.mmtext{
	font-size:11px;
	font-weight:400;
}

.paivitys{
	font-size:11px;
	font-weight:400;
	padding-left:3%;
}

.main p a{
	color:#2486ce;
	text-decoration:none;
	padding-left:3%;
}

.varoitus{
	font-size:12px;
	width:94%;
	border:1px solid #BD000C;
	margin-left:3%;
	margin-right:3%;
	height:3em;
}

.varoitus p{
	margin-left:3.5em;
}
.varoituskuva{
	float:left;
	height:100%;
}

.taulsymb, .graafsymb{
	vertical-align:middle;
	height:2.5em;
	padding-left:1em;
}

.mainlinkit{
	height:3em;
	font-size:13px;
	width:94%;
	margin-left:3%;
	margin-right:3%;
	border-bottom:  1px solid #D3D3D3;
	margin-bottom:1em;
}
.mainlinkit .lahipaivat{
	border:1px solid #D3D3D3;
	border-bottom: 1px solid white;
	background-color:white;
	
}
.mainlinkit a{
	text-align:center;
	line-height:3em;
	text-decoration:none;
	display:block;
	
	float:left;
	color:rgb(0,0,0);
	background:#E4E4E4;
	height:100%;
	width:12em;
	margin-left:0.5em;
}


footer{
	font-size:12px;
	font-weight:400;
	width:100%;
	height:5em;
	background:white;
	float:left;
	margin-top:3px;
	
}

.foocontent{
	height:100%;
	width:90%;
	display: table;
	margin:auto;
	
}

.foocontent p{
	display:table-cell;
	vertical-align: middle;
}



.foolinks{
	height:1em;
	display:table-cell;
	vertical-align: middle;
    
}

.foocontent a{
	text-decoration:none;
	color: #2486ce;
	padding-left:1em;
	padding-right:1em;

}

.oikearaja{
	border-right:  1px solid #D3D3D3;
}

.fooimg{
	
	display:table-cell;
	vertical-align: middle;
    
}

.fooimg img{
	float:right;
	padding-left:0.5em;
}